body {
  margin: 0;
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
	display: flex;
  flex-direction: column;
	align-items: center;

}

.home-switch {

}

.home-switch button {
  font-size: 100%;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

.leaderboard {
}

.question-wrapper {
    margin: 1em;
}

.question {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em;
}

.question-list {
	display: flex;
  	flex-direction: column;
	width: 500px;
}

.new-question {

}

.top-nav {
	padding-bottom: 10px;
}

.home-switch ul,
.top-nav ul {
	list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
}

.home-switch li,
.top-nav li {
	float: left;
  	padding: 16px;
}

.home-switch-link,
.top-link {
	color: black;
	text-decoration: none;
}

.home-switch-link-active,
.top-link-active {
	color: red;
}

.user-name {
  color: #1F2BA6;
  font-weight: bold;
}

.your-answer {
  font-weight: bold;
}